<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/info.css">
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    -->
    <title>Inicio</title>
</head>

<body>
    <header class="header_style">
        <nav class="nav_style">
            <a href="http://127.0.0.1:3000/" class="logo nav_link">Soportes</a>
            <ul class="nav_menu">
                <li class="nav_menu_item"><a href="/admin" class="nav_menu_link nav_link">Administrador</a></li>
                <li class="nav_menu_item"><a href="/login" class="nav_menu_link nav_link">Cliente</a></li>
            </ul>
        </nav>
        <div class="header_video">
            <video src="videos/video4k.mp4" autoplay loop muted></video>
        </div>
        <div class="header_content">
            <p>Bienvenido</p><br>
            <p>Este es Nuestro</p><br>
            <p>Trabajo Final de Asignatura</p>
            <p>Desarrollo Basado en Plataformas</p>
        </div>
    </header>
</body>

</html>